# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo

# JetBrains Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# SQLite databases
*.db
*.db-shm
*.db-wal

# macOS
.DS_Store

# Windows
Thumbs.db
